<launch>

  <!-- turtlebot3 parameters -->
  <arg name="model" default="burger"/>
  <arg name="world_file_name" default="$(find turtlebot3_gazebo)/worlds/empty.world"/>

  <!-- Load turtlebot3 burger robot description -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load turtlebot3 burger robot description -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Set up rosparam for rsp_robot_spawn_node -->
  <param name="rsp_robot_model" value="$(arg model)" />

</launch>
